<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla cumque in error dolor. Saepe recusandae iusto est beatae eligendi quaerat id maxime voluptatibus accusamus nulla placeat cupiditate mollitia, quas a delectus sed nesciunt voluptate dignissimos debitis animi nostrum at aperiam. Illo ea saepe magnam et expedita doloremque labore delectus est?</p>
    </div>

</div>