<div class="jumbotron">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias odit dolorem vel voluptates, alias officia sunt quos, id, quis dicta illum voluptas quidem iusto mollitia nostrum nobis expedita recusandae harum!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias culpa unde quae, amet possimus ipsam eos maiores rerum sint quos!</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>